/* info & sharing dialogs */
.BRfloat a {
	color: $link-blue;
	text-decoration: none;

	&:hover {
		color: $purple;
		text-decoration: underline;
	}

	&:visited {
		color: $purple;
	}
}

a.BRinfoMoreInfo,
a.BRinfoMoreInfo:visited {
	color: #fff;
}

a.BRinfoMoreInfo:hover {
	color: #fff;
	text-decoration: underline;
}

.BRinfoMoreInfoW {
	background-color: $purple;
}

.BRfloatHead {
	display: none;
}

.BRinfoLabel {
	margin-bottom: .3em;
}

.fieldset-embed {
	display: none;
}

#colorbox:focus {
	outline: $purple auto 5px;
}

.BRfloat button[type=button].share-finished {
	background-color: $purple;
}
