div#BRnav,
.BRtoolbar,
.BRnavCntl {
    background-color: #fff;
}

/* CCA branded logo */
a.logo {
    background: url(../cca-images/logo.png) no-repeat transparent;
    -webkit-background-size: cover;
    background-size: contain;
	position: relative;
    margin: 0 10px;
	top: 5px;
    width: 300px;
}

#BRreturn {
	line-height: 48px;
    max-width: 785px;
	padding: 0;
    text-overflow: ellipsis;

    a {
    	color: #000;

        &:hover {
            color: $purple;
            text-decoration: underline;
            transition: color 0.3s ease-in-out;
        }
    }
}

.BRicon {
	background-color: transparent;
    background-image: url(../cca-images/BRicons.png);
	background-repeat: no-repeat;

    &:focus {
        outline: $purple auto 5px;
    }
}

/* UI looks cleaner with no separator lines */
.BRtoolbarSection {
	background-color: #fff;
    border-right: 0;
}
.BRtoolbarRight {
	border-left: 0;
}

#BRpager .ui-slider-range {
    background-color: lighten($purple, 50%);
}

#BRpager .ui-slider-handle {
    background-color: $purple;
}

#BRnavCntlBtm:hover {
    background-color: $purple;
}

// fix some purple background image from peaking out
div#BRpage .BRicon.book_left,
div#BRpage .BRicon.onepg,
div#BRpage .BRicon.twopg {
    border-right: 0;
    margin-right: 0;
}
div#BRpage .BRicon.thumb {
    border-left: 0;
}
