div#BRnav,
.BRtoolbar,
.BRnavCntl {
    background-color: #fff;
}

/* CCA branded logo */
a.logo {
    background: url(../cca-images/logo.png) no-repeat transparent;
    -webkit-background-size: cover;
    background-size: contain;
	position: relative;
    margin: 0 10px;
	top: 5px;
    width: 300px;
}

#BRreturn {
	line-height: 48px;
	padding: 0;

    a:hover {
        color: $dark-blue;
        transition: color 0.3s ease-in-out;
    }
}

#BRreturn a {
	color: #4e5b63;
}

.BRicon {
	background-color: transparent;
    background-image: url(../cca-images/BRicons.png);
	background-repeat: no-repeat;
}

/* UI looks cleaner with no separator lines */
.BRtoolbarSection {
	background-color: #fff;
	border-right: 0;
}
.BRtoolbarRight {
	border-left: 0;
}
