.BRnav,
.BRtoolbar,
.BRnav .BRnavCntl {
    background-color: #fff;
}

.BRtoolbar {
    padding: 0 10px;
}

/* CCA branded logo */
.BookReader a.logo {
    background: url(cca-images/logo.png) no-repeat transparent;
    -webkit-background-size: cover;
    background-size: contain;
    height: 36px;
	margin: 0;
    position: relative;
	top: 10px;
    width: 270px;
}

.BRtoolbarSectionLogo {
    display: inline-block;
}

.BRtoolbarSectionTitle {
    font-size: 18px;
	line-height: $toolbar-lineheight;
    max-width: 785px;
    text-overflow: ellipsis;

    a {
    	color: #000;

        &:hover {
            color: $purple;
            text-decoration: underline;
            transition: color 0.3s ease-in-out;
        }
    }
}

.BRtoolbarSectionInfo {
    line-height: $toolbar-lineheight;
}

.BRtoolbarbuttons .BRpill {
    border-color: #000;
    color: #000;
}

.BRicon {
	background-color: transparent;
	background-repeat: no-repeat;

    &:focus {
        outline: $purple auto 5px;
    }
}

.BRnav .BRpager {
    background-color: darken($light-bg-color, 15%);

    .ui-slider-range {
        background-color: lighten($purple, 50%);
    }

    .ui-slider-handle {
        background-color: $purple;
    }
}

// we have to repeat all these bc the mobile nav has a more-specific selector...
.BRbodyMobileNavEnabled .BRnav .BRpager {
    background-color: darken($light-bg-color, 15%);

    .ui-slider-range {
        background-color: lighten($purple, 50%);
    }

    .ui-slider-handle {
        background-color: $purple;
    }
}

.BRbodyMobileNavEnabled .BRnav .BRnavCntlBtm:hover,
.BRnav .BRnavCntlBtm:hover {
    background-color: $purple;
}
