/*
 * Custom overrides for BookReader Demo.
 */

/* Hide print and embed functionality */
#BRtoolbar .embed, .print {
    display: none;
}

div#BRnav,
#BRtoolbar,
.BRnavCntl {
    background-color: #fff;
}

/* CCA branded logo */
a.logo {
    background: url(../cca-images/logo.png) no-repeat transparent;
        -webkit-background-size: cover;
    background-size: cover;
    margin: 0 10px;
    width: 100px;
}
